<div class="jumbotron">

	<h1 class="fadeIn" data-delay="250">That one was easy. Anyone with an internet connection could figure that out.</h1>

	<br/>

	<h1 class="fadeIn" data-delay="1000">I bet one of those answers made you smile though.</h1>

	<br/>

	<h1 class="fadeIn" data-delay="2000">That is....if you really <strong>are</strong> the real Tiffany</h1>

	<br/> 

	<h1 class="fadeIn" data-delay="3000">Which one made you smile?</h1>

	<div class="fadeIn" data-delay="3000">

		<a href="/tiffany/answers/3/1" class="">Leesburg, FL</a>
		<br/>
		<br/>

		<a href="/tiffany/answers/3/2" class="">Brooklyn, NY</a>
		<br/>
		<br/>

		<a href="/tiffany/answers/3/3" class="">Heaven</a>
		<br/>
		<br/>

		<a href="/tiffany/answers/3/4" class="">Toothbrush</a>
		<br/>
		<br/>

	</div>

</div>