<div class="jumbotron">

	<h1 class="fadeIn" data-delay="250">WOW! You really do know alot about Tiffany. Maybe it really is you.</h1>

	<br/>

	<h1 class="fadeIn" data-delay="1000">There is only one more question to ask before I really believe it's you.</h1>

	<br/>

	<h1 class="fadeIn" data-delay="2000">What is our real anniversary date...according to <strong>me</strong></h1>

	<div class="fadeIn" data-delay="2000">

		<a href="/tiffany/answers/5/1" class="span2 offset1">December 19th</a>

		<a href="/tiffany/answers/5/2" class="span2 ">April 19th</a>

		<a href="/tiffany/answers/5/2" class="span2 ">October 25th</a>

		<a href="/tiffany/answers/5/2" class="span2 ">December 20th</a>

		<a href="/tiffany/answers/5/2" class="span2 ">August 19th</a>

	</div>

</div>