<div class="jumbotron">

	<h1 class="fadeIn" data-delay="250">Nice work. That one was pretty easy though. Anyone who has spent a small amount of time with Tiffany would know how much she loves to crack jokes referencing The Office that nobody gets. Except for me of course. I get them.</h1>

	<br/>

	<h1 class="fadeIn" data-delay="2000">Next question...</h1>

	<br/>

	<h1 class="fadeIn" data-delay="2500">Where was she born?</h1>

	<div class="fadeIn" data-delay="2500">

		<a href="/tiffany/answers/2/1" class="span2 offset2">Leesburg, FL</a>

		<a href="/tiffany/answers/2/2" class="span2">Brooklyn, NY</a>

		<a href="/tiffany/answers/2/3" class="span2">Heaven</a>

		<a href="/tiffany/answers/2/4" class="span2">Toothbrush</a>

	</div>

</div>