<div class="jumbotron">

	<h1 class="fadeIn" data-delay="250">WOW! You really do know alot about Tiffany. Maybe it really is you.</h1>

	<br/>

	<h1 class="fadeIn" data-delay="1000">There is only one more question to ask before I really believe it's you.</h1>

	<br/>

	<h1 class="fadeIn" data-delay="2000">What is our real anniversary date...according to <strong>me</strong></h1>

	<div class="fadeIn" data-delay="2000">

		<a href="/tiffany/answers/5/1" class="span2 offset1">December 19th</a>

		<a href="/tiffany/answers/5/2" class="span2 ">April 19th</a>

		<a href="/tiffany/answers/5/2" class="span2 ">October 25th</a>

		<a href="/tiffany/answers/5/2" class="span2 ">December 20th</a>

		<a href="/tiffany/answers/5/2" class="span2 ">August 19th</a>

	</div>

</div>

<!-- 

When this question is complete, redirect to tiffany's page
require question 5 to be answered (set a session var)





Not tiffany version starts with a brief intro to us

I'm austin, software dev

This is tiffany, expert vet receptionist manager.

I wanted to make something special for her, and my skill is making websites (it's obviously not designing websites)

It's really too bad I'm not a jeweler...

Anyway, here's a little bit about us.

map with me in orgeon her in fl

met on wow(show pictures of male troll shaman, female troll shaman, link to a wow wiki)

i moved there (F SCHOOL! YAY LOVE!)  picture of us in FL

How i proposed

then we moved to NYC  picture of us in NYC

pictures of our first apt, wedding, honeymoon

why would I take my life and move it around the world for her? here are the reasons

Happy Valentines Day to the Love of my Life.

 -->