<div class="jumbotron">

	<h1 class="fadeIn" data-delay="250">Interesting. You do appear to share the same humor as the real Tiffany.</h1>

	<br/>

	<h1 class="fadeIn" data-delay="250">Let's try something a little more difficult and...personal.</h1>

	<br/>

	<h1 class="fadeIn" data-delay="1000">There is a picture of Tiffany that only two people have ever seen. One of those people being Tiffany and the other being me.</h1>

	<br/>

	<h1 class="fadeIn" data-delay="3000">It also happens to be my favorite picture of her...ever.</h1>

	<br/>

	<h1 class="fadeIn" data-delay="4000">Describe this picture.</h1>

	<br/>

	<br/>

	<div class="fadeIn" data-delay="4000">

		<a href="/tiffany/answers/4/1" class="">Sitting at our spot, looking out onto the lake at a beautiful sunset. There are also very tiny boats. And birds.</a>

		<br/>

		<br/>

		<a href="/tiffany/answers/4/2" class="">Tortola in the morning in our cabin. Sitting on the terrace.</a>

		<br/>

		<br/>

		<a href="/tiffany/answers/4/3" class="">You sitting next to the real Kid Cudi in Orlando at a pub crawl.</a>

		<br/>

		<br/>

		<a href="/tiffany/answers/4/4" class="">Breakfast. Macaroni and Cheese. Hot Dogs. Ketchup. No shame.</a>

	</div>

</div>