<div class="jumbotron">

	<h1 class="fadeIn" data-delay="250">OK</h1>

	<br/>

	<h1 class="fadeIn" data-delay="1000">First question...</h1>

	<br/>

	<h1 class="fadeIn" data-delay="2000">What is Tiffany's favorite TV show?</h1>

	<div class="fadeIn" data-delay="2000">

		<a href="/tiffany/answers/1/1" class="span3 offset2">The Office</a>

		<a href="/tiffany/answers/1/2" class="span3 offset1">Bad Girls Club</a>

	</div>

</div>