<% content_for :javascripts do %>
	<%= javascript_include_tag "/assets/tiffany.js" %>
<% end %>

<div class="jumbotron" id="t-story" style="display:none;">

	<div class="tfadeIn" data-delay="250"> 
		<h3>hey, I'm glad you made it <3</h3>
	</div>


	<div class="tfadeIn" data-delay="3000">
	<br/>

	<br/>

	<h3>It's valentines day, so I made this for you.</h3>

</div>


	<div  class="tfadeIn" data-delay="6000">

	<br/>

	<br/>

	<h3>I really hope you like it.</h3>
</div>


	<div class="tfadeIn" data-delay="9000">
	<br/>

	<br/>

	<h3>One of the happiest times in my life was our honeymoon.</h3>
</div>

	<div class="tfadeIn" data-delay="15000">
	<br/>

	<br/>

	<h3>Whenever I feel like life is getting too busy, I like to think of sitting on the beach with you.</h3>

</div>

	<div class="tfadeIn" data-delay="20000">

	<br/>
	<br/>

	<h3>Watching the <a href="#" id="birds">birds</a> dive into the water</h3>

</div>

<div class="tfadeIn" data-delay="30000">

	<br/><br/>

	<h3>Or <a href="#" id="rewind">rewinding time</a> so that we can be back there.</h3>

</div>

<div class="tfadeIn" data-delay="40000">

	<br/><br/>

	<h3>But mostly I just like to think about <a href="#" id="escape">escaping reality</a> and being alone...with you</h3>
</div>

</div>

<a href="#" id="reality" style="display:none;z-index:100;position:absolute;left:10px;top:10px">&lt;-Reality</a>
