<div class="jumbotron">
	<h1 class="fadeIn" data-delay="250">So you say you're Tiffany?</h1>

	<br/>

	<h1 class="fadeIn" data-delay="1250">I think we need to put that to the test..</h1>

	<br/>

	<h1 class="fadeIn" data-delay="2500">Anyone can click a link...but only the <strong>true</strong> Tiffany will know the answers to these questions</h1>

	<a href="/tiffany/questions/1" class="fadeIn" data-delay="2500">Begin</a>

</div>