<div class="jumbotron">
	<h1 class="fadeIn" data-delay="250">Welcome</h1>

	<p class="fadeIn" data-delay="1500">Please click the link below that applies to you.</p>

	<div class="fadeIn" data-delay="2500">
		<a href="/tiffany/start">I am Tiffany</a>
		<br/>
		<br/>
		<a href="/not_tiffany/start" class="">I am not Tiffany</a>
	</div>
</div>