<div class="jumbotron">
	<h1 class="fadeIn" data-delay="250">You're not Tiffany? Then what are you doing here!</h1>

	<br/>

	<h1 class="fadeIn" data-delay="1000">Go have some fun on the <a href="http://www.reddit.com">internet</a> instead of reading sappy love notes!</h1>

</div>