/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require bootstrap-responsive.min
 *= require jquery-ui-1.10.0.custom.min
 */


body{
	color:#b94a48;
}

.jumbotron {
margin: 80px 0;
text-align: center;
}

h1.fadeIn{
	font-size: 25px;
}

.jumbotron h1 strong{
	color:#953b39;
}

.alert{
	text-align: center;
}

#beach-animation img{
	position: fixed;
	top:0;
	left:0;
}

#t-story{
	z-index:3;position:absolute;background-color:black;opacity:0.7;padding:20px;
	width: 800px;
left: 50%;
margin-left: -400px;
}
